body
{
    background-image: url("../img/fundo.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.logo-empresa
{
    height: 50px;
    width: 70px;

}

.div-logo
{
    height: 100%;
    border-bottom: 2px solid black;
    background: linear-gradient(to left, #963b06, white, #963b06);
    text-align: center;
    
}

.w-100
{
    width: 100%;
}

.topo
{
    height: 95px;
}

#caixa-login
{
    width: 350px;
    background: white;
}

.border
{
    border: #963b06 solid 2px;
    border-radius: 0%;
}

.margin
{
    margin: 50px;
}

.logo
{
    margin-top: 30px;
    width: 220;
    height: 120px;
}
.botao
{
    background-color: #963b06;
    width: 100px;
    color: white;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.botao:hover
{
    background-color: #963b06;
    width: 100px;
    color: rgb(167, 167, 167);
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
}

.botao:visited
{
    text-decoration: none;
}

.rodape
{
    position: fixed !important;
    background-color: black;
    height: 20px;
}


