body{
    background-image: url(../../../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.tira-borda
{
    border-radius: 0% !important;
}

.logo
{
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 1;
}    

.sombra
{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.603);
}

.largura
{
    width: 280px;
}

.altura
{
    height: 50px;
}

.backwhite
{
    background: white;
}

.icone
{
    height: 40px;
    width: 40px;
}

.margin-lateral
{
    margin-right: 30px;
}

.mouse:hover
{
    background-color: #f7cba5 !important;
    transition: 0.2s;
}

.mouse
{
    background-color: white !important;
    transition: 0.2s;
}

.ativo
{
    background-color: #f7cba5 !important;
}

.ativo:visited
{
    background-color: #f7cba5 !important;
}

.ativo:active
{
    background-color: #f7cba5 !important;
} 

.conteudo
{
    position: relative;
    width: 80%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 70px;
    padding-left: 50px;
}

.titulo
{
    font-size: 25px;

}

.centraliza
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.campos form
{
    font-weight: bold;
    width: 100%;
}

input
{
    width: 300px !important;
}

.form-item
{
    display: block;
    margin: 20px;
    text-transform: uppercase;
}

.form-item-label
{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.form-item-input
{
    width: 70% !important;
    height: 25px;
    border: 2px solid rgb(90, 88, 88);
    cursor: pointer;
    transition: 0.2s;
}

.form-item-input:hover
{
    border: 2px solid rgba(0, 250, 250, 0.692);
    box-shadow: 0 0 1em rgba(0, 250, 250, 0.692);
    transition: 0.2s;
}

.form-item-selected
{
    border: 2px solid rgba(0, 250, 250, 0.692);
    box-shadow: 0 0 1em rgba(0, 250, 250, 0.692);
}

#formulario
{
    padding: 40px;
    width: 100%;
}

.form-item-radio
{
    display: inline-block;
    width: 10px;
}

.botoes
{
    text-align: right;
    padding-bottom: 5%;
    padding-right: 15%;
}

.botao
{
    background-color: #963b06;
    padding: 3px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
}

.botao:hover
{
    color: rgb(167, 167, 167);
    text-decoration: none;
}

.botao:visited
{
    text-decoration: none;
}
